.App {
  text-align: center;
  font-size: 20px;
  margin-top: 20%;
}

.App-title {
  font-size: 35px;
}

.Clock-days,
.Clock-hours,
.Clock-minutes,
.Clock-seconds {
  display: inline;
  margin: 10px;
}

.Deadline-input {
  text-align: center;
  font-size: 25px;
  margin: 5px;
}
